<ion-header>
  <ion-navbar>
    <ion-title>
      Projeto TCC Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <form>
  
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha" name="senha"></ion-input>
    </ion-item>

    <button ion-button block color="secondary" (click)="logar()">Efetuar Login</button>
    <button ion-button block (click)="cadastrar()">Quero me Cadastrar</button>

  </form>

</ion-content>
