<ion-header>

  <ion-navbar>
    <ion-title>Cadastro Cliente</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form>
    <ion-item>
      <ion-label>CPF:</ion-label>
      <ion-input type="text" [(ngModel)]="cpf" (blur)="cpf = format(cpf)" name="cpf" placeholder="digitar somente numeros"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input [(ngModel)]="nome" name="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Endereço:</ion-label>
      <ion-input [(ngModel)]="endereco" name="endereco"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Estado:</ion-label>
      <ion-select [(ngModel)]="estado" name="estado">
        <ion-option value="AC">Acre</ion-option>
        <ion-option value="AL">Alagoas</ion-option>
        <ion-option value="AP">Amapá</ion-option>
        <ion-option value="AM">Amazonas</ion-option>
        <ion-option value="BA">Bahia</ion-option>
        <ion-option value="CE">Ceará</ion-option>
        <ion-option value="DF">Distrito Federal</ion-option>
        <ion-option value="ES">Espírito Santo</ion-option>
        <ion-option value="GO">Goiás</ion-option>
        <ion-option value="MA">Maranhão</ion-option>
        <ion-option value="MT">Mato Grosso</ion-option>
        <ion-option value="MS">Mato Grosso do Sul</ion-option>
        <ion-option value="MG">Minas Gerais</ion-option>
        <ion-option value="PA">Pará</ion-option>
        <ion-option value="PB">Paraíba</ion-option>
        <ion-option value="PR">Paraná</ion-option>
        <ion-option value="PE">Pernambuco</ion-option>
        <ion-option value="PI">Piauí</ion-option>
        <ion-option value="RJ">Rio de Janeiro</ion-option>
        <ion-option value="RN">Rio Grande do Norte</ion-option>
        <ion-option value="RS">Rio Grande do Sul</ion-option>
        <ion-option value="RO">Rondônia</ion-option>
        <ion-option value="RR">Roraima</ion-option>
        <ion-option value="SC">Santa Catarina</ion-option>
        <ion-option value="SP">São Paulo</ion-option>
        <ion-option value="SE">Sergipe</ion-option>
        <ion-option value="TO">Tocantins</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Municipio:</ion-label>
      <ion-input [(ngModel)]="municipio" name="municipio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Telefone:</ion-label>
      <ion-input [(ngModel)]="telefone" name="telefone" mask='{99-99999-9999}'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>email:</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Senha:</ion-label>
      <ion-input [(ngModel)]="senha" type="password" name="senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Confirmar Senha:</ion-label>
      <ion-input [(ngModel)]="senha2" type="password" name="senha2"></ion-input>
    </ion-item>

  </form>

  <button ion-button block (click)="cadastrar()">Cadastrar</button>

</ion-content>