<ion-header>

  <ion-navbar>
    <ion-title>Minha Conta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button block (click)="alterar()">Alterar Dados</button>
  <button ion-button block color="danger" (click)="excluir()">Excluir Conta</button>
  <button ion-button block color="danger" (click)="sair()">Sair</button>

</ion-content>
